body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: rgb(236, 236, 236);
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-body, .exchange-body, .profile-body, .profile-overview-body{
  background-color: #222;
  min-height: 100vh;
}

.btn-success{
  background-color: rgb(55, 177, 36);
  color: #fff;
}

a, a:hover{
  text-decoration: none;
}

/* HEADER */
.header{
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  color: #fff;
}

.nav-bar{
  display: flex;
  align-items: center;
}

.nav-bar-item{
  margin-right: 16px;
  color: #969696
}

.auth{
  display: flex;
  align-items: center;
}

.auth-input{
  margin-left: 16px;
  border-radius: 5px;
  border: 1px solid #27ae60;
  padding: 0px 10px;
  width: 150px;
}

.header .btn{
  padding: .175rem .75rem;
  margin-left: 16px;
}

.header a{
  color: #969696;
}

.header a:hover{
  color: #44D62C;
}

.username{
  margin-left: 16px;
}

/* HEADER */

/* REGISTRATION */
.reg-hidden{
  position: absolute;
  top: -400px;
  left: calc(50% - 200px);
  padding: 16px;
  width: 400px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  box-shadow: 0 0 18px  #16964c;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  color: #000;
}

.reg-visible{
  position: absolute;
  top: calc(50vh - 175px);
  left: calc(50% - 200px);
  padding: 16px;
  width: 400px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  box-shadow: 0 0 18px  #16964c;
  visibility: visible;
  transition: 0.3s;
  background-color: #fff;
  color: #000;
  z-index: 3;
}

.shadow::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.8);
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.reg-name{
  display: flex;
  justify-content: space-between;
}

.reg-name .reg-input-block{
  width: 48%;
}

.reg-input-block{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reg-buttons{
  display: flex;
  justify-content: space-between;
}
.reg-buttons .btn{
  width: 40%;
}

.reg-status{
  margin: 16px 0 0 0;
}


/* REGISTRATION */

/* MAIN */


.main-body .games-list, .exchange-body .games-list, .profile-overview-body .games-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-body{
  padding: 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.form-search-visible{
  width: 400px;
  display: flex;
  align-items: center;
  /* -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transform: translateY(0%); */
}
.form-search-hidden{
  width: 350px;
  display: flex;
  align-items: center;
  /* -webkit-transform: translateY(-200%);
  -moz-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  -o-transform: translateY(-200%);
  transform: translateY(-200%); */
  display: none;
}
.input-search{
  width: 250px;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem
}
/* MAIN */

/* PROFILE */
.profile-body{
  display: flex;
  justify-content: space-between;
}

.profile-body .profile-card{
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #44D62C;
  background-color: #111;
}
.profile-card-wrapper{
  margin: 16px 16px 0 0;
}

.right-side{
  width: 35%;
}

.creation-panel{
  width: 100%;
  padding: 16px 16px 16px 8px;
}

.cp-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.list-toggle{
  margin: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
}

.list-toggle a{
  color: #969696;
}

.list-toggle a:hover{
  color: #fff;
}


/* PROFILE */

/* GAME CARD */

.games-list-wrapper{
  width: 65%;
  padding: 8px 8px 16px 16px;
}

.games-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.game-card{
  padding: 8px;
}

.game-card-head{
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}

.game-card-body{
  padding: 8px 16px;
  background-color: #111;
  border-radius: 0 0 5px 5px;
  height: calc(100% - 250px);
  font-family: Roboto, Helvetica, sans-serif;
  color:#fff;
}

.game-card-body p{
  margin-bottom: 8px;
}

.to-exchange{
  color: #44D62C
}

.game-card-body a:hover{
  color: #44D62C;
}

.my-game-status{
  color: #44D62C;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}

/* GAME CARD */

/* EXCHANGE */
.exchange-card{
  width: 250px;
}

.exchange-body{
  padding: 8px;
}

.exchange-body .offer-button{
  justify-content: flex-end;
}

.new-exchange{
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid #44D62C;
  margin-bottom: 8px;
  background-color: #111;
}

.new-exchange .game-card-body{
  background-color: #222;
}

.gag{
  width: 250px;
  min-height: 100%;
  border-radius: 5px;
  border: 1px solid #b3b7b8;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.exchange-offer-wrapper{
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.offer-button{
  width: 100px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-status{
  width: 140px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 70px);
  text-align: center;
}

.img-exchange{
  width: 100%;
  height: auto;
}

.hr{
  border-color: #979797;
}

.active-exchange{
  color: #44D62C
}

.waiting-answer{
  color: #dac71d;
}

.rejected-exchange{
  color: #f01b1b;
}
/* EXCHANGE */

/* PROFILE-OVERBIEW */

.profile-overview-body{
  padding: 8px;
}

.about-user{
  display: flex;
  align-items: stretch;
  border-bottom: 1px solid #44D62C;
  margin-bottom: 8px;
  background-color: #111;
  min-height: 200px;
  max-height: 400px;
  padding: 16px;
  justify-content: space-between;
}

.profile-card{
  width: 50%;
  display: flex;
}

.avatar{
  width: 40%;
  overflow: hidden;
}

.user-data{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 8px 8px 8px 12px;
}

.feedback-form{
  width: 25%;
  border: 1px solid #969696;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.textarea-wrapper{
  flex: 1;
  margin: 12px 0;
}

.comment-textarea{
  width: 100%;
  height: 100%;
  font-size: 18px;
}

.rate{
  color: gold;
}

.comments-list{
  width: 100%;
  border-bottom: 1px solid #44D62C;
  border-top: 1px solid #44D62C;
  margin-bottom: 8px;
  background-color: #111;
  padding: 16px;
}

.comment{
  margin-bottom: 16px;
  width: 50%;
}

.avatar-mini{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 25px;
  margin-right: 16px;
}

.comment-user{
  display: flex;
  flex-direction: column;
  color: #969696;
}

.comment-text{
  margin-top: 12px;
}

/* PROFILE-OVERBIEW */

/* INPUT FILE */
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
/* INPUT FILE */