body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  margin: 0 auto;
  position: relative;
  color: rgb(236, 236, 236);
  z-index: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-body, .exchange-body, .profile-body{
  background-color: #222;
  min-height: 100vh;
}

.btn-success{
  background-color: #44D62C;
  color: #fff;
}

a, a:hover{
  text-decoration: none;
}

/* HEADER */
.header{
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  color: #fff;
}

.nav-bar{
  display: flex;
  align-items: center;
}

.nav-bar-item{
  margin-right: 16px;
}

.auth{
  display: flex;
  align-items: center;
}

.auth-input{
  margin-left: 16px;
  border-radius: 5px;
  border: 1px solid #27ae60;
  padding: 0px 10px;
  width: 150px;
}

.header .btn{
  padding: .175rem .75rem;
  margin-left: 16px;
}

.header a{
  color: #969696;
}

.header a:hover{
  color: #44D62C;
}

.username{
  margin-left: 16px;
}

/* HEADER */

/* REGISTRATION */
.reg-hidden{
  position: absolute;
  top: -400px;
  left: calc(50% - 200px);
  padding: 16px;
  width: 400px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  box-shadow: 0 0 18px  #16964c;
  visibility: hidden;
  transition: 0.3s;
  background-color: #fff;
  color: #000;
}

.reg-visible{
  position: absolute;
  top: calc(50vh - 175px);
  left: calc(50% - 200px);
  padding: 16px;
  width: 400px;
  border: 1px solid #27ae60;
  border-radius: 5px;
  box-shadow: 0 0 18px  #16964c;
  visibility: visible;
  transition: 0.3s;
  background-color: #fff;
  color: #000;
  z-index: 3;
}

.shadow::after{
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.9);
  z-index: 2;
  width: 100vw;
  height: 100vh;
}

.reg-name{
  display: flex;
  justify-content: space-between;
}

.reg-name .reg-input-block{
  width: 48%;
}

.reg-input-block{
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reg-buttons{
  display: flex;
  justify-content: space-between;
}
.reg-buttons .btn{
  width: 40%;
}

.reg-status{
  margin: 16px 0 0 0;
}


/* REGISTRATION */

/* MAIN */


.main-body .games-list, .exchange-body .games-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.main-body{
  padding: 8px 8px;
}
/* MAIN */

/* PROFILE */
.profile-body{
  display: flex;
  justify-content: space-between;
}

.creation-panel{
  width: 30%;
  padding: 16px 16px 16px 8px;
}

.cp-input{
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.list-toggle{
  margin: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
}

.list-toggle a{
  color: #969696;
}

.list-toggle a:hover{
  color: #fff;
}

/* PROFILE */

/* GAME CARD */

.games-list-wrapper{
  width: 70%;
  padding: 8px 8px 16px 16px;
}

.games-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.game-card{
  padding: 8px;
}

.game-card-head{
  width: 100%;
  height: 250px;
}

.game-card-body{
  padding: 8px 16px;
  background-color: #111;
  border-radius: 0 0 5px 5px;
  height: calc(100% - 250px);
  font-family: Roboto, Helvetica, sans-serif;
  color:#fff;
}

.game-card-body p{
  margin-bottom: 8px;
}

.game-card-body a:hover{
  color:#44D62C;
}

.my-game-status{
  color: #44D62C;
}

.img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5px 5px 0 0;
}

/* GAME CARD */

/* EXCHANGE */
.exchange-card{
  width: 250px;
}

.exchange-body{
  padding: 8px;
}

.exchange-body .offer-button{
  justify-content: flex-end;
}

.new-exchange{
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  border-bottom: 1px solid #44D62C;
  margin-bottom: 8px;
  background-color: #111;
}

.new-exchange .game-card-body{
  background-color: #222;
}

.gag{
  width: 250px;
  min-height: 100%;
  border-radius: 5px;
  border: 1px solid #b3b7b8;
  padding: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}

.exchange-offer-wrapper{
  width: 200px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 8px;
}

.offer-button{
  width: 100px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-status{
  width: 140px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 70px);
  text-align: center;
}

.img-exchange{
  width: 100%;
  height: auto;
}

.hr{
  border-color: #979797;
}

.active-exchange{
  color: #44D62C
}

.waiting-answer{
  color: #dac71d;
}

.rejected-exchange{
  color: #f01b1b;
}
/* EXCHANGE */